.skills-main-div {
  display: flex;
}

#skills .skills-text-div {
  margin-left: 50px;
}
#skills .skills-text {
  font-size: 12px;
}

#skills .software-skills-main-div {
  margin-top: 20px;
}
#skills .skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}
#skills .skills-image-div {
  display: flex
}
#skills .skills-image-div > img {
  max-width: 100%;
  height: auto;
}

#skills .skills-heading {
  font-size: 56px;
  line-height: 56px;
  font-weight: 400;
}
#skills .subTitle {
  color: #808386;
}
#skills .greeting-text-p {
  font-family: monospace;
  font-size: 16px;
  line-height: 16px;
  margin: 5px 0;
}
#skills .greeting-text-p::after {
 margin-bottom: 30px;
}
/* Media Query */
@media (max-width: 1380px) {
  #skills .skills-heading {
    font-size: 40px;
    
  }
}
@media (max-width: 768px) {
  #skills .skills-heading {
    font-size: 30px;
    line-height: 1.1;
    text-align: center;
  }
  #skills .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  #skills .skills-main-div {
    flex-direction: column;
  }
  #skills .software-skills-main-div {
    margin-top: 5rem;
  }
  #skills .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  #skills .skills-text {
    font-size: 14px;
  }
  #skills .skills-text-subtitle {
    font-size: 16px;
    text-align: left;
  }
  #skills .skills-image-div {
    /* display: none; */
    order: 2;
  }
}
