/* Override Browser Styling */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Slab&display=swap');

:root {
	--purple: #9156DB; 

	--blue-light: #09BADE; 
	--blue-medium: #028DF5; 
	--blue-cobalt: #024AEB; 

	--black: #030B13; 
	--gray: #A3B5AC; 
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}







/**** Actual Styling ****/


/* General Styling */ 
body {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	height: 100vh;
	padding: 0;
	margin: 0;
}
a {
	color: var(--blue-cobalt);
}
a:hover {
	color: var(--blue-medium)
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}
h1 {
    font-size: 3rem;
}



/* Navigation bar */
header {
	position: sticky;
	height: 100%;
	left: 0;
	width: 20%;
	display: flex;
	flex-direction: column;
	background-color:var(--black);
}
header div.social {
	display: flex; 
	flex-direction: row;
	justify-content: space-around;
	min-width: 2rem;
	min-height: 2rem;
	padding: 0 1rem;
}
header div.social span a {
	display: flex; 
	color: var(--gray);
	text-decoration: none;
	flex: 1;
}
header div.social span a i {
	display: flex;
	flex: 1;
}
header div.avatar {
	display: flex; 
	max-width: 100%;
	justify-content: center;
}
header div.avatar img {
	position: relative;
	display: flex;
	max-width: 80%;
	border-radius: 7rem;
	margin: 1rem;
}
header nav ul li a {
	text-decoration: none;
	color: var(--gray);
	font-size: 1.2rem;
	width: 100%;
	text-align: center;
}

