.page {
    height: calc(100% - (2 * 5rem));
    width: calc(100% - (2 * 1.5rem));
    display: flex; 
    justify-content: flex-start;
    justify-items: center;
    align-items: baseline;
    margin: 1.5rem;
    padding: 1.5rem 0;
    background-color: rgba(240, 255, 255, 0.221);
    z-index: 0;
}