.startup-projects-main {
  display: flex;
}

.startup-projects-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.starup-project-image > img {
  max-width: 100%;
  height: auto;
}

.project-card-head {
  color: rgb(36, 41, 46);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0px;
}

.startup-project-text {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  gap: 20px;
}

.project-card-description {
  color: rgb(88, 96, 105);
}
#projects .subTitle {
  color: #868e96;
}

.photo-div{
  padding: 10px 20px;
  border: 1px solid #868e9694;
  background-color: #868e961e;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  width: 50%;
  flex-direction: column;
}
.photo-div > img {
  max-width: 270px;
  padding: 10px 10px;
  border-radius: 20px;
}

.proj-title {
  text-align: center;
  font-size: 20px;
  line-height: 1rem;
}
.proj-desc {
  font-size: 14px;
  line-height: 1.4rem;
  font-stretch: condensed;
  padding: 0 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .starup-project-image {
    display: none;
  }
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .photo-div > img {
    max-width: 100%;
    margin: 0 auto; 
    padding: 10px 10px;
    border-radius: 20px;
  }
  
}
