/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

/* Actual Styling */

/* animation */
@keyframes flash {
  80% {
      color: hsla(135, 98%, 47%, 0.855); 
  } 
  20% {
      color: transparent;
  }
}
/* variables */ 
:root {
  --font-text-main: "Playfair Display", serif;
  --font-text-alt: 'Raleway', sans-serif;
  --font-text-mono: "Cutive Mono", monospace;
  --font-size-h1: 3rem;
  --font-size-h2: calc(3rem * 0.9);
  --font-size-h3: calc(3rem * 0.8);
  --font-size-h4: calc(3rem * 0.7);
  --desktop-font-size: 1.3rem; 
  --desktop-font-weight: 500; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-text-main);
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
div, span, p {
  font-family: var(--font-text-alt);
  font-weight: 300;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
section {
  margin: 15px 0;
}
p {
  margin: 10px 0;
}
.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #2486ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2373faff' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%230040ff' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2300deff' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%231636e6' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2300beff' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%231e2dcd' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%230099ff' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%232024b5' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23006bff' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%231f1b9e' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23330fff' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%231c1388' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  z-index: -5;
}


.page {
  height: calc(100% - (2 * 5rem));
  width: calc(100vw - (2 * 3rem));
  display: flex; 
  justify-content: flex-start;
  justify-items: center;
  align-items: baseline;
  margin: 1.5rem auto;
  padding: 1.5rem 1rem;
  background-color: rgba(240, 255, 255, 0.221);
  border-radius: 10px;
}





.home {
  height: 100%;
  width: 100%;
}
.home .cta, .home .cta-wrapper, .home .Typewriter, .home .Typewriter__cursor, .home .Typewriter .Typewriter__wrapper, .home .blink, .home span {
  font-family: 'Cutive Mono', monospace;
  transition: all 0.2s ease-in-out;
  font-weight: var(--desktop-font-weight);
  font-stretch: condensed;
  z-index: 0;
}
.home .cta-wrapper {
  display: flex; 
  width: 100%;
  place-content: center;
}
.home .cta {
  background-color: rgba(0, 0, 0, 0.803);
  color: #bfdcff;
  padding: 1rem 1rem;
  display: flex;
  align-items: flex-end;
  min-height: 150px;
  width: 100%;
  flex-direction: row;
  border-radius: 5px;
  font-size: var(--desktop-font-size);
}
.home .Typewriter  {
  padding-left: 0.5rem;
  text-align: center;
}
.home .Typewriter__cursor {
  color: rgb(225, 219, 255);
  font-stretch: ultra-condensed;
}
.home .blink {
  color: #03ee3eda; 
  animation-play-state: running;
  animation: flash;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  padding-right: 0.5rem;
}

/* Navbar */
.page {
  z-index: 0;
}
.navbar div, .navbar span, .navbar p, .navbar-items, .navbar-logo {
  font-family: "Fira Code", monospace;
  z-index: 1;
}
.navbar {
  background-color: #2486ff;
  height: 4rem;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 100%;
  border-bottom: 1px solid #badbff;
}
.navbar-right,
.navbar-left {
  display: flex;
}
.navbar-right {
  align-content: center;
  justify-content: flex-end;
}
.navbar-logo {
  font-family: var(--font-text-alt); 
  line-height: 1.4rem;
  font-size: 1.2rem;
  display: flex;
  margin-left: 1rem;
  color: #badbff;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #badbff;
  font-stretch: extra-condensed;
  transition: all 0.2s ease-in-out;
  z-index: 5;
}
.navbar-logo:hover {
  border: 1px solid white; 
  color:white;
}
.navbar-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-left: 2rem;
  margin-right: 1rem;
}
.navbar-items {
  display: flex;
  place-content: center;
  width: 100px;
}

.navbar-links {
  color: #badbff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  place-content: center;
  margin: 0 15px;
  height: 100%;
  width: 100%;
}
/* typewriter link */
.navbar-links > * {
  display: flex;
  text-align: left;
  align-items: center;
  justify-items: start;
  min-width: fit-content;
  font-size: 1rem;
}
.navbar-links > div.Typewriter {
  margin-right: auto;
}
.navbar .Typewriter__wrapper {
  font-variant: small-caps;
  font-weight: 300;
  font-stretch: ultra-condensed;
  transition: all 0.2s ease-in-out;
}
.navbar-links > i {
  min-width: unset;
  justify-self: end;
  margin-right: 10px;
}
.navbar-links:hover {
  color: white;
  transition: all 0.2s ease-in-out;
}
.navbar-links:hover > div {
  padding-left: 1px;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}
.navbar-menu-icon {
  display: none;
}

@media screen and (max-width: 550px) {
  .home .cta, .home .cta-wrapper, .home .Typewriter, .home .Typewriter__cursor, .home .Typewriter .Typewriter__wrapper, .home .blink, .home span {
      font-weight: 400;
      font-size: calc(var(--desktop-font-size) * 0.8);
      font-stretch: ultra-condensed;
  }

  /* Navbar */
  .navbar-menu.active, .navbar .fa-bars, .navbar-menu, .navbar .fa-times, .navbar-menu.active .navbar-items, .navbar .navbar-links, .navbar-menu.active .navbar-items .navbar-links {
    transition: all 1s ease-in-out 0s;
  }
  .navbar-right {
    grid-row: 1;
    grid-column: 2;
    align-items: center;
    margin-right: 1.5rem;
  }
  .navbar .fa-bars {
    font-size: 1.2rem;
  }
  .navbar-menu {
    display: none;
    opacity: 1;
    margin: 0;
  }
  .fa-times {
    color: white;
    margin-right: 1rem;
  }
  .navbar-menu.active {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 4rem;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100%;
    background-color: #2486ff;
    opacity: 0.9;
    z-index: 0;
    transform: translateX(100vw);
  }
  .navbar .navbar-logo {
    position: absolute;
    z-index: 1;
    opacity: 1;
    color: #fff;
    left: calc(50% - (var(--desktop-font-size) + 4px));
    height: calc(var(--desktop-font-size) + 2px);
    width: calc(var(--desktop-font-size) + 2px);
    border: none;
    display: flex;
    place-content: center;
  }
  .navbar-menu-icon {
    position: relative;
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 1.4rem;
  }
  .navbar-items {
    height: unset;
    width: 100vw;
  }
  .navbar-menu .navbar-items .navbar-links > span,
  .navbar-menu .navbar-items .navbar-links > div {
    opacity: 0;
    margin-right: 100vw;
  }
  .navbar-menu.active .navbar-items .navbar-links > *{
    opacity: 1;
    margin-right: 0;
  }
  .navbar-links {
    font-size: larger;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem 0;
    width: 60%;
  }
  .navbar-links > i {
    width: 50px;
    display: inherit;
  }
  .navbar-links > span {
    margin: unset;
    justify-self: flex-start;
  } 
}

