@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
.page {
  z-index: 0;
}
.navbar div, .navbar span, .navbar p, .navbar-items, .navbar-logo {
  font-family: "Fira Code", monospace;
  z-index: 1;
}
.navbar {
  background-color: #2486ff;
  height: 4rem;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 100%;
  border-bottom: 1px solid #badbff;
}
.navbar-right,
.navbar-left {
  display: flex;
}
.navbar-right {
  align-content: center;
  justify-content: flex-end;
}
.navbar-logo {
  font-family: var(--font-text-alt); 
  line-height: 1.4rem;
  font-size: 1.2rem;
  display: flex;
  margin-left: 1rem;
  color: #badbff;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #badbff;
  font-stretch: extra-condensed;
  transition: all 0.2s ease-in-out;
  z-index: 5;
}
.navbar-logo:hover {
  border: 1px solid white; 
  color:white;
}
.navbar-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-left: 2rem;
  margin-right: 1rem;
}
.navbar-items {
  display: flex;
  place-content: center;
  width: 100px;
}

.navbar-links {
  color: #badbff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  place-content: center;
  margin: 0 15px;
  height: 100%;
  width: 100%;
}
/* typewriter link */
.navbar-links > * {
  display: flex;
  text-align: left;
  align-items: center;
  justify-items: start;
  min-width: fit-content;
  font-size: 1rem;
}
.navbar-links > div.Typewriter {
  margin-right: auto;
}
.navbar .Typewriter__wrapper {
  font-variant: small-caps;
  font-weight: 300;
  font-stretch: ultra-condensed;
  transition: all 0.2s ease-in-out;
}
.navbar-links > i {
  min-width: unset;
  justify-self: end;
  margin-right: 10px;
}
.navbar-links:hover {
  color: white;
  transition: all 0.2s ease-in-out;
}
.navbar-links:hover > div {
  padding-left: 1px;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}
.navbar-menu-icon {
  display: none;
}

@media screen and (max-width: 550px) {
  .navbar-menu.active, .navbar .fa-bars, .navbar-menu, .navbar .fa-times, .navbar-menu.active .navbar-items, .navbar .navbar-links, .navbar-menu.active .navbar-items .navbar-links {
    transition: all 1s ease-in-out 0s;
  }
  .navbar-right {
    grid-row: 1;
    grid-column: 2;
    align-items: center;
    margin-right: 1.5rem;
  }
  .navbar .fa-bars {
    font-size: 1.2rem;
  }
  .navbar-menu {
    display: none;
    opacity: 1;
    margin: 0;
  }
  .fa-times {
    color: white;
    margin-right: 1rem;
  }
  .navbar-menu.active {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 4rem;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100%;
    background-color: #2486ff;
    opacity: 0.9;
    z-index: 0;
    transform: translateX(100vw);
  }
  .navbar .navbar-logo {
    position: absolute;
    z-index: 1;
    opacity: 1;
    color: #fff;
    left: calc(50% - (var(--desktop-font-size) + 4px));
    height: calc(var(--desktop-font-size) + 2px);
    width: calc(var(--desktop-font-size) + 2px);
    border: none;
    display: flex;
    place-content: center;
  }
  .navbar-menu-icon {
    /* display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%); */
    position: relative;
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 1.4rem;
  }
  .navbar-items {
    height: unset;
    width: 100vw;
  }
  .navbar-menu .navbar-items .navbar-links > span,
  .navbar-menu .navbar-items .navbar-links > div {
    opacity: 0;
    margin-right: 100vw;
  }
  .navbar-menu.active .navbar-items .navbar-links > *{
    opacity: 1;
    margin-right: 0;
  }
  .navbar-links {
    font-size: larger;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem 0;
    width: 60%;
  }
  .navbar-links > i {
    width: 50px;
    display: inherit;
  }
  .navbar-links > span {
    margin: unset;
    justify-self: flex-start;
  }
}
