@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
:root {
  --nav-height: 50px;
  --desktop-font-size: 20px;
}

.navbar {
  font-family: "Fira Code", monospace;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: var(--nav-height);
  display: grid;
  grid-template-columns: 100px auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navbar-right,
.navbar-left {
  display: flex;
}
.navbar-right {
  align-content: center;
  justify-content: flex-end;
}

.navbar-logo {
  margin-left: 1rem;
  color: #fff;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid white;
  font-stretch: extra-condensed;
  font-size: var(--desktop-font-size);
  transition: all 0.2s ease-in-out;
}
.navbar-logo:hover {
  border: 1px solid #1888ff; 
  color: #1888ff;
}
.navbar-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-left: 2rem;
  margin-right: 1rem;
}
.navbar-items {
  display: flex;
  place-content: center;
  width: 100px;
}

.navbar-links {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  place-content: center;
  margin: 0 15px;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
}
/* typewriter link */
.navbar-links > * {
  display: flex;
  text-align: left;
  align-items: center;
  justify-items: start;
  min-width: fit-content;
  font-size: 0.7rem;
}
.navbar-links > div {
  margin-right: auto;
}
.navbar-links > i {
  min-width: unset;
  justify-self: end;
  margin-right: 10px;
}
.navbar-links:hover {
  color: #1888ff;
  transition: all 0.2s ease-in-out;
}
.navbar-links:hover > div {
  text-decoration: underline;
}

.navbar-links-mobile {
  display: none;
}

.navbar-menu-icon {
  display: none;
}

@media screen and (max-width: 500px) {
  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: -100%;
    opacity: 1;
    z-index: 0;
    margin: 0;
    transition: all 0.5s ease;
  }
  .fa-times {
    z-index: 1;
    color: white;
  }
  .navbar-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 0;
  }
  .navbar-logo {
    position: absolute;
    color: #fff;
    left: calc(50% - var(--desktop-font-size));
    height: calc(var(--desktop-font-size) + 2px);
    width: calc(var(--desktop-font-size) + 2px);
    border: none;
    display: flex;
    place-content: center;
    z-index: 1;
  }
  .navbar-menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    cursor: pointer;
    color: #fff;
    font-size: 1.4rem;
    z-index: 1;
  }
  .navbar-items {
    height: unset;
    width: 100%;
  }
  .navbar-links {
    font-size: larger;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem 0;
    width: 60%;
  }
  .navbar-links > i {
    width: 50px;
    display: inherit;
  }
  .navbar-links > span {
    margin: unset;
    justify-self: flex-start;
  }
}
