
:root {
    --desktop-font-size: 1.3rem; 
    --desktop-font-weight: 700; 
}
@keyframes flash {
    80% {
        color: hsla(135, 98%, 47%, 0.855); 
    } 
    20% {
        color: transparent;
    }
}


.home {
    height: 100%;
    width: 100%;
}
.home .cta, .home .cta-wrapper, .home .Typewriter, .home .Typewriter__cursor, .home .Typewriter .Typewriter__wrapper, .home .blink, .home span {
    font-family: 'Cutive Mono', monospace;
    transition: all 0.2s ease-in-out;
    font-weight: var(--desktop-font-weight);
    font-stretch: condensed;
    z-index: 0;
}
.home .cta-wrapper {
    display: flex; 
    width: 100%;
    place-content: center;
}
.home .cta {
    background-color: rgba(0, 0, 0, 0.803);
    color: #bfdcff;
    padding: 1rem 1rem;
    display: flex;
    align-items: flex-end;
    min-height: 150px;
    width: 100%;
    flex-direction: row;
    border-radius: 5px;
    font-size: var(--desktop-font-size);
}

.home .Typewriter  {
    padding-left: 0.5rem;
    text-align: center;
}
.home .Typewriter__cursor {
    color: rgb(225, 219, 255);
    font-stretch: ultra-condensed;
}
.home .blink {
    color: #03ee3eda; 
    animation-play-state: running;
    animation: flash;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    padding-right: 0.5rem;
}

@media screen and (max-width: 550px) {
    .home .cta, .home .cta-wrapper, .home .Typewriter, .home .Typewriter__cursor, .home .Typewriter .Typewriter__wrapper, .home .blink, .home span {
        font-weight: 400;
        font-size: calc(var(--desktop-font-size) * 0.8);
        font-stretch: ultra-condensed;
    }
}

